<!-- Footer section fixed to the bottom of the page -->
<footer class="bg-dark text-white text-center p-3 fixed-bottom">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- GitHub link with icon -->
    <div class="links">
      <a href="https://github.com/justynumrah/Assignment-3" class="text-white mx-2">
        <i class="fa-brands fa-lg fa-github"></i>
      </a>
    </div>

    <!-- Copyright notice -->
    <h6 class="mb-0">&copy; Copyright 2025. All rights reserved.</h6>
  </div>
</footer>

<!-- Closing body and html tags -->
</body>
</html>