<footer class="bg-dark text-white text-center p-3 fixed-bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="links">
      <a href="https://github.com/ymoha3/Assignment-2" class="text-white mx-2">
        <i class="fa-brands fa-lg fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/yusuf-mohamed-481612362/" class="text-white mx-2">
        <i class="fa-brands fa-lg fa-linkedin"></i>
      </a>
    </div>
    <h6 class="mb-0">&copy; Copyright 2025. All rights reserved.</h6>
  </div>
</footer>
</body>
</html>