<%- include('partials/header') %>
<div style="margin-top:80px;"></div>"
<div class ="container">
    <div class="row">
        <div class = "offset-md-3 col-md-6">
            <h1><% title %></h1>

            <form class="form" method="post">
                <div class = "form-group">
                    <label for="nameTextField">Workout Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder = "Enter your workout title"
                    name="EntryNum" required>
                </div> 
                 <div class = "form-group">
                    <label for="titleTextField">Date</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder = "Enter todays date"
                    name="Title" required>
                </div> 
                 <div class = "form-group">
                    <label for="messageTextArea">Workout Time</label>
                    <textarea type="text" class="form-control"
                    id="messageTextArea"
                    placeholder = "How long did your workout take"></textarea
                    name="Message" required></textarea>
                </div> 
                <div class = "form-group">
                    <label for="dateTextField">Target Areas</label>
                    <input type="text" class="form-control"
                    id="dateTextField"
                    placeholder = "Which muscle groups did you target"
                    name="Date" required>
                <div class = "form-group">
                    <label for="monthTextField">Exercise List</label>
                    <input type="text" class="form-control"
                    id="monthTextField"
                    placeholder = "List the exercises you did"
                    name="Month" required>
                </div> 
                <div class = "form-group">
                    <label for="yearTextField">Reflection</label>
                    <input type="text" class="form-control"
                    id="yearTextField"
                    placeholder = "How did your workout go?"
                    name="Year" required>
                </div> 
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>
                <a href = "/Entries" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Delete
                </a>
            </form>
        </div>
</div>
<%- include('partials/footer') %>