<%- include ('partials/header') %>
<div class="bg-light p-5 rounded text-center mt-5"></div>
<div class="bg-light p-5 rounded text-center">
    <h1 class="fw-bold">Welcome to Workout Tracker</h1>
    <p>Track your workouts, log progress, and stay fit! </p>
    <a href="/workouts" class="btn btn-success">Get Started</a>
</div>

<%- include('partials/footer') %>
