<%- include('partials/header') %>
<form action="/workouts" method="POST">
  <input type="number" name="entryNum" placeholder="Entry Number" required>
  <input type="text" name="title" placeholder="Title" required>
  <textarea name="message" placeholder="Message" required></textarea>
  <textarea name="message" placeholder="Message" required></textarea>
  <textarea name="message" placeholder="Message" required></textarea>
  <textarea name="message" placeholder="Message" required></textarea>
</form>
<%- include('partials/footer') %>